@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Shiro</h1>


<a href="\TestPartialView\index">index</a>
<br />
<a href="\TestPartialView\Shiro">Shiro </a>
<br />
<a href="\TestPartialView\Nanako">Nanako </a>
<br />
<a href="\TestPartialView\Himawari">Himawari</a>
<br />