@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is Index</h1>
<a href="\testview\index">index</a>
<br />
<a href="\testview\bob">BOB</a>
<br />
<a href="\testview\elsa">elsa</a>
<br />
<a href="\testview\olaf">olaf</a>
<br />
<a href="\testview\pikachu">pikachu</a>
<hr></hr>

<p>測試</p>
@model string

<p>測試二</p>
@Model


