@model NewTest20217.Models.Pokemon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PokeName" class="control-label"></label>
                <input asp-for="PokeName" class="form-control" />
                <span asp-validation-for="PokeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokeImage" class="control-label"></label>
                <input asp-for="PokeImage" class="form-control" />
                <span asp-validation-for="PokeImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memo" class="control-label"></label>
                <input asp-for="Memo" class="form-control" />
                <span asp-validation-for="Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PokeImageInTable" class="control-label"></label>
                <input asp-for="PokeImageInTable" class="form-control" />
                <span asp-validation-for="PokeImageInTable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
