@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Dog</p>
<a href="\testdata\index"> index </a>
	 |　
<a href="\testdata\datacat"> cat </a>
	|　
<a href="\testdata\datasession"> datasession </a>

<hr />
<h1>@ViewBag.A2</h1>
<hr />
<p>  看資料 H1 ：@TempData["H1"]       </p>
<p>  看資料 H2 ：@TempData.Peek("H2")  </p>
<hr />

