@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model string

<h1>Ｆｒｏｍ　ｐａｒｔｉａｌ</h1>


<h1>ＯㄇＯ</h1>
<h2>h2 @ViewData["1234"]</h2>
<hr>



<div>
    Partial View Model 值是：@Model
</div>