@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





<hr />
<button class="btn btn-primary">001</button>
<button class="btn btn-primary">002</button>
<hr />







<h1>1223123123</h1>
<h2>@ViewContext.RouteData.Values["controller"]</h2>  @*從view帶出controller的資料*@
<h2>@ViewContext.RouteData.Values["action"]</h2>


